<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span jhiTranslate="gestionevenementappApp.participant.detail.title">Participant</span> {{ participant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionevenementappApp.participant.sexe">Sexe</span></dt>
                <dd>
                    <span>{{ participant.sexe }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ participant.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.login">Login</span></dt>
                <dd>
                    <span>{{ participant.login }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.firstName">First Name</span></dt>
                <dd>
                    <span>{{ participant.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ participant.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.login">Login</span></dt>
                <dd>
                    <div *ngIf="participant.villeId">
                        <a [routerLink]="['/admin/user-management', participant.login, 'view']">{{ participant.login }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.ville">Ville</span></dt>
                <dd>
                    <div *ngIf="participant.villeId">
                        <a [routerLink]="['/ville', participant.villeId, 'view']">{{ participant.villeNom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.evenement">Evenement</span></dt>
                <dd>
                    <span *ngFor="let evenement of participant.evenements; let last = last">
                        <a [routerLink]="['/evenement', evenement?.id, 'view']">{{ evenement.code }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.participant.activite">Activite</span></dt>
                <dd>
                    <span *ngFor="let activite of participant.activites; let last = last">
                        <a [routerLink]="['/activite', activite?.id, 'view']">{{ activite.nom }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

        </div>
    </div>
</div>
