<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="participant">
            <h2><span jhiTranslate="gestionevenementappApp.participant.detail.title">Participant</span> {{ participant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="gestionevenementappApp.participant.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="gestionevenementappApp.participant.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexe"><span jhiTranslate="gestionevenementappApp.participant.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="gestionevenementappApp.participant.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="villeNom"><span jhiTranslate="gestionevenementappApp.participant.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="villeNom"><span jhiTranslate="gestionevenementappApp.participant.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </thead>
                <tbody >
                    <tr>
                        <td>{{ participant.firstName }}</td>
                        <td>{{ participant.lastName }}</td>
                        <td>{{ participant.sexe }}</td>
                        <td>{{ participant.villeNom }}</td>
                        <td>{{ participant.telephone }}</td>
                        <td>{{ participant.login }}</td>
                        <td>
                            <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                            </button>

                            <button type="button"
                                [routerLink]="['/participant', participant.id, 'edit']"
                                class="btn btn-primary">
                                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12" *ngIf="participant && participant.evenements && participant.evenements.length>0 ">
        <jhi-inscription-evenement
        [participantEvenements]="participant.participantEvenements!"
        [participant]="participant"></jhi-inscription-evenement>
    </div>
</div>
