<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-participant-heading" jhiTranslate="gestionevenementappApp.participant.home.createOrEditLabel">Create or edit a Participant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.participant.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.participant.sexe" for="field_sexe">Sexe</label>
                    <input type="text" class="form-control" name="sexe" id="field_sexe"
                           formControlName="sexe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.participant.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.participant.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.participant.ville" for="field_ville">Ville</label>
                    <select class="form-control" id="field_ville" name="ville" formControlName="villeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="villeOption.id" *ngFor="let villeOption of villes; trackBy: trackById">{{ villeOption.nom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="gestionevenementappApp.participant.evenement" for="field_evenements">Evenement</label>
                    <select class="form-control" id="field_evenements" multiple name="evenements" formControlName="evenements">
                        <option [ngValue]="getSelected(editForm.get('evenements')!.value, evenementOption)" *ngFor="let evenementOption of evenements; trackBy: trackById">{{ evenementOption.code }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
