<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-activite-heading" jhiTranslate="gestionevenementappApp.activite.home.createOrEditLabel">Create or edit a Activite</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.date_activite" for="field_date_activite">Date Activite</label>
                    <div class="input-group">
                        <input id="field_date_activite" type="text" class="form-control" name="date_activite" ngbDatepicker #date_activiteDp="ngbDatepicker" formControlName="date_activite"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="date_activiteDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.heure_debut" for="field_heure_debut">Heure Debut</label>
                    <div class="d-flex">
                        <input id="field_heure_debut" type="datetime-local" class="form-control" name="heure_debut" formControlName="heure_debut" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.heure_fin" for="field_heure_fin">Heure Fin</label>
                    <div class="d-flex">
                        <input id="field_heure_fin" type="datetime-local" class="form-control" name="heure_fin" formControlName="heure_fin" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.etatclos" for="field_etatclos">Etatclos</label>
                    <input type="checkbox" class="form-control" name="etatclos" id="field_etatclos"
                           formControlName="etatclos"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.evenement" for="field_evenement">Evenement</label>
                    <select class="form-control" id="field_evenement" name="evenement" formControlName="evenementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="evenementOption.id" *ngFor="let evenementOption of evenements; trackBy: trackById">{{ evenementOption.code }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.activite.emplacement" for="field_emplacement">Emplacement</label>
                    <select class="form-control" id="field_emplacement" name="emplacement" formControlName="emplacementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="emplacementOption.id" *ngFor="let emplacementOption of emplacements; trackBy: trackById">{{ emplacementOption.code }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
