<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="activite">
            <h2><span jhiTranslate="gestionevenementappApp.activite.detail.title">Activite</span> {{ activite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr>
                        <th><span jhiTranslate="gestionevenementappApp.activite.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                        <th ><span jhiTranslate="gestionevenementappApp.activite.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                        <th><span jhiTranslate="gestionevenementappApp.activite.etatclos">Etatclos</span> <fa-icon icon="sort"></fa-icon></th>
                        <th><span jhiTranslate="gestionevenementappApp.activite.dateActivite">Date Activite</span> <fa-icon icon="sort"></fa-icon></th>
                        <th ><span jhiTranslate="gestionevenementappApp.activite.heureDebut">Heure Debut</span> <fa-icon icon="sort"></fa-icon></th>
                        <th ><span jhiTranslate="gestionevenementappApp.activite.heureFin">Heure Fin</span> <fa-icon icon="sort"></fa-icon></th>
                        <th><span jhiTranslate="gestionevenementappApp.activite.evenement">Evenement</span> <fa-icon icon="sort"></fa-icon></th>
                        <th><span jhiTranslate="gestionevenementappApp.activite.emplacement">Emplacement</span> <fa-icon icon="sort"></fa-icon></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ activite.nom }}</td>
                        <td>{{ activite.description }}</td>
                        <td>{{ activite.etatclos }}</td>
                        <td>{{ activite.dateActivite | date:'mediumDate' }}</td>
                        <td>{{ activite.heureDebut | date:'medium' }}</td>
                        <td>{{ activite.heureFin | date:'medium' }}</td>
                        <td>
                            <div *ngIf="activite.evenementId">
                                <a [routerLink]="['/evenement', activite.evenementId , 'view']" >{{ activite.evenementCode }}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="activite.emplacementId">
                                <a [routerLink]="['/emplacement', activite.emplacementId , 'view']" >{{ activite.emplacementCode }}</a>
                            </div>
                        </td>
                        <td>
                            <button type="submit"
                                    (click)="previousState()"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    [routerLink]="['/activite', activite.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12" *ngIf="activite && activite.participants && activite.participants.length>0">
        <jhi-activite-participants
            [participants]="activite.participants"
            [activite]="activite">
        </jhi-activite-participants>
    </div>
</div>
