<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionevenementappApp.pays.home.title">Pays</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pays" [routerLink]="['/pays/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionevenementappApp.pays.home.createLabel">
            Create a new Pays
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pays?.length === 0">
        <span jhiTranslate="gestionevenementappApp.pays.home.notFound">No pays found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pays && pays.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gestionevenementappApp.pays.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gestionevenementappApp.pays.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let pays of pays ;trackBy: trackId">
                    <td><a [routerLink]="['/pays', pays.id, 'view']">{{ pays.id }}</a></td>
                    <td>{{ pays.code }}</td>
                    <td>{{ pays.nom }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pays', pays.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pays', pays.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pays)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
