<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="emplacement">
            <h2><span jhiTranslate="gestionevenementappApp.emplacement.detail.title">Emplacement</span> {{ emplacement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionevenementappApp.emplacement.code">Code</span></dt>
                <dd>
                    <span>{{ emplacement.code }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.emplacement.description">Description</span></dt>
                <dd>
                    <span>{{ emplacement.description }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.emplacement.capacite">Capacite</span></dt>
                <dd>
                    <span>{{ emplacement.capacite }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.emplacement.ville">Ville</span></dt>
                <dd>
                    <div *ngIf="emplacement.villeId">
                        <a [routerLink]="['/ville', emplacement.villeId, 'view']">{{ emplacement.villeNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/emplacement', emplacement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
