<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inscriptionEvenement">
            <h2><span jhiTranslate="gestionevenementappApp.inscriptionEvenement.detail.title">Inscription Evenement</span> {{ inscriptionEvenement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionevenementappApp.inscriptionEvenement.loginParticipant">Login Participant</span></dt>
                <dd>
                    <span>{{ inscriptionEvenement.loginParticipant }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.inscriptionEvenement.passwordParticipant">Password Participant</span></dt>
                <dd>
                    <span>{{ inscriptionEvenement.passwordParticipant }}</span>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.inscriptionEvenement.evenement">Evenement</span></dt>
                <dd>
                    <div *ngIf="inscriptionEvenement.evenementId">
                        <a [routerLink]="['/evenement', inscriptionEvenement.evenementId, 'view']">{{ inscriptionEvenement.evenementDescription }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionevenementappApp.inscriptionEvenement.participant">Participant</span></dt>
                <dd>
                    <div *ngIf="inscriptionEvenement.participantId">
                        <a [routerLink]="['/participant', inscriptionEvenement.participantId, 'view']">{{ inscriptionEvenement.participantFirstName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inscription-evenement', inscriptionEvenement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
