<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inscription-evenement-heading" jhiTranslate="gestionevenementappApp.inscriptionEvenement.home.createOrEditLabel">Create or edit a Inscription Evenement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.inscriptionEvenement.loginParticipant" for="field_loginParticipant">Login Participant</label>
                    <input type="text" class="form-control" name="loginParticipant" id="field_loginParticipant"
                           formControlName="loginParticipant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.inscriptionEvenement.passwordParticipant" for="field_passwordParticipant">Password Participant</label>
                    <input type="text" class="form-control" name="passwordParticipant" id="field_passwordParticipant"
                           formControlName="passwordParticipant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.inscriptionEvenement.evenement" for="field_evenement">Evenement</label>
                    <select class="form-control" id="field_evenement" name="evenement" formControlName="evenementId">
                        <option *ngIf="!editForm.get('evenementId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="evenementOption.id" *ngFor="let evenementOption of evenements; trackBy: trackById">{{ evenementOption.description }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('evenementId')!.invalid && (editForm.get('evenementId')!.dirty || editForm.get('evenementId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('evenementId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionevenementappApp.inscriptionEvenement.participant" for="field_participant">Participant</label>
                    <select class="form-control" id="field_participant" name="participant" formControlName="participantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="participantOption.id" *ngFor="let participantOption of participants; trackBy: trackById">{{ participantOption.firstName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
