<h3 id="page-heading">
    <span jhiTranslate="gestionevenementappApp.evenement.participantinscrit">Inscrire/désincrire Participants</span>
</h3>

<jhi-alert-error></jhi-alert-error>

<div class="alert alert-warning" id="no-result" *ngIf="participants?.length === 0">
    <span jhiTranslate="gestionevenementappApp.participant.home.notFound">No participants found</span>
</div>

<div class="table-responsive" id="entities" *ngIf="participants && participants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="gestionevenementappApp.participant.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="gestionevenementappApp.participant.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"  jhiSortBy="sexe"><span jhiTranslate="gestionevenementappApp.participant.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="gestionevenementappApp.participant.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"  jhiSortBy="villeNom"><span jhiTranslate="gestionevenementappApp.participant.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"  jhiSortBy="villeNom"><span jhiTranslate="gestionevenementappApp.participant.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let participant of participants ;trackBy: trackId">
                <td><a [routerLink]="['/participant', participant.id, 'view']">{{ participant.id }}</a></td>
                <td *ngIf="participant.participant">{{ participant.participant.firstName }}</td>
                <td *ngIf="participant.participant">{{ participant.participant.lastName }}</td>
                <td *ngIf="participant.participant">{{ participant.participant.sexe }}</td>
                <td *ngIf="participant.participant">{{ participant.participant.telephone }}</td>
                <td *ngIf="participant.participant">{{ participant.participant.villeNom }}</td>
                <td *ngIf="participant.participant">{{ participant.participant.login }}</td>
                <td *ngIf="participant.participant" class="text-center">
                    <div class="form-check">
                        <label class="form-check-label" for="activated">
                            <input class="form-check-input"
                                   [checked]="participant.registered"
                                   type="checkbox"
                                   id="activated"
                                   name="activated"
                                   (click)="save(participant)"
                                   formControlName="activated">
                            <span>{{ participant.registered ? 'Inscris':'Non Inscris' }}</span>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
