<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionevenementappApp.activite.home.activityparticipate">Participation aux activites</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="participantActivites?.length === 0">
        <span jhiTranslate="gestionevenementappApp.activite.home.notFound">No activites found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="participantActivites && participantActivites.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gestionevenementappApp.activite.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etatclos"><span jhiTranslate="gestionevenementappApp.activite.etatclos">Etatclos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateActivite"><span jhiTranslate="gestionevenementappApp.activite.dateActivite">Date Activite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heureDebut"><span jhiTranslate="gestionevenementappApp.activite.heureDebut">Heure Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heureFin"><span jhiTranslate="gestionevenementappApp.activite.heureFin">Heure Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="evenementCode"><span jhiTranslate="gestionevenementappApp.activite.evenement">Evenement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emplacementCode"><span jhiTranslate="gestionevenementappApp.activite.emplacement">Emplacement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" ><span jhiTranslate="entity.action.inscrire">S'inscrire</span></th>
                    <th scope="col" ><label class="form-control-label" jhiTranslate="entity.action.role" for="field_role">Role</label></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let activite of participantActivites ;trackBy: trackId let i = index">
                    <td><a [routerLink]="['/activite', activite.id, 'view']">{{ activite.id }}</a></td>
                    <td *ngIf="activite.activite">{{ activite.activite.nom }}</td>
                    <td *ngIf="activite.activite">{{ activite.activite.etatclos }}</td>
                    <td *ngIf="activite.activite">{{ activite.activite.dateActivite | date:'mediumDate' }}</td>
                    <td *ngIf="activite.activite">{{ activite.activite.heureDebut | date:'medium' }}</td>
                    <td *ngIf="activite.activite">{{ activite.activite.heureFin | date:'medium' }}</td>
                    <td *ngIf="activite.activite">
                        <div *ngIf="activite.activite.evenementId">
                            <a [routerLink]="['/evenement', activite.activite.evenementId , 'view']" >{{ activite.activite?.evenementCode }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="activite.activite?.emplacementId">
                            <a [routerLink]="['/emplacement', activite.activite?.emplacementId , 'view']" >{{ activite.activite?.emplacementCode }}</a>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label" for="activated">
                                <input class="form-check-input"
                                       [checked]="activite.registered"
                                       type="checkbox"
                                       id="activated"
                                       name="activated"
                                       (click)="saveActiviteParticipant(activite,i)"
                                       formControlName="activated" />
                                <span>{{ activite.registered ? 'Inscris':'Non Inscris' }}</span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <select class="form-control" id="field_role" name="role" formControlName="role">
                            <option >Participant</option>
                            <option >Organisateur</option>
                            <option >Sponsors</option>
                        </select>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <!--appeler l'Api de sauvegarde de l'inscription-->
                            <button type="submit"
                                    [routerLink]="['/participant', activite.id, 'inscriptionactivity']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.saveregistered">S'ajouter</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

