<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionevenementappApp.evenement.home.insriptionEvent">Inscription aux événements</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="participantEvenements?.length === 0">
        <span jhiTranslate="gestionevenementappApp.evenement.home.notFound">No evenements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="participantEvenements && participantEvenements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gestionevenementappApp.evenement.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDebut"><span jhiTranslate="gestionevenementappApp.evenement.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFin"><span jhiTranslate="gestionevenementappApp.evenement.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gestionevenementappApp.evenement.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col">Etat d'inscription</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let evenement of participantEvenements ;trackBy: trackId ; let i = index">
                    <td><a [routerLink]="['/evenement', evenement.id, 'view']">{{ evenement.id }}</a></td>
                    <td *ngIf="evenement.evenement"> {{evenement.evenement.code }}</td>
                    <td *ngIf="evenement.evenement"> {{ evenement.evenement.dateDebut | date:'medium' }}</td>
                    <td *ngIf="evenement.evenement"> {{ evenement.evenement.dateFin | date:'medium' }}</td>
                    <td *ngIf="evenement.evenement"> {{ evenement.evenement.description }}</td>
                    <td class="text-right">
                            <label class="form-check-label" for="activated">
                                    <input class="form-check-input"
                                           [checked]="evenement.registered"
                                           type="checkbox"
                                           id="activated"
                                           name="activated"
                                           (click)="saveInscriptionEvent(evenement, i, evenement.evenement?.id, participant.id)"
                                           formControlName="activated" />
                                    <span>{{evenement.registered ? 'Inscris':'Non Inscris' }}</span>
                            </label>
                    </td>
                    <td>
                        <div>
                            <button type="submit" (click)="inscrire(evenement.evenement?.activites)"
                                [hidden] = "!evenement.registered"
                                    class="btn btn-info">
                                <fa-icon icon="arrow-right"></fa-icon>
                                <span class="d-none d-md-inline" >Inscription Activité</span>
                            </button>
                        </div>
                        <!-- <div>
                            <button type="submit" (click)="inscrire(evenement.evenement?.activites)"
                                [hidden] = "!evenement.registered"
                                    class="btn btn-info">
                                <fa-icon icon="arrow-right"></fa-icon>
                                <span class="d-none d-md-inline" >Inscription Activité</span>
                            </button>
                        </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

