<div>
    <h2 id="page-heading" *ngIf="participant && participant.profileCompleted">
        <span jhiTranslate="gestionevenementappApp.participant.inscriptionEvenement.title"></span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <div class="alert alert-warning" id="profile-completed-and-no-result" *ngIf="participant && participant.profileCompleted && evenements?.length === 0">
        <span jhiTranslate="gestionevenementappApp.evenement.home.notFound">No evenements found</span>
    </div>

    <div class="alert alert-warning" id="profile-no-completed" *ngIf="participant && !participant.profileCompleted">
        <button type="submit"
                [routerLink]="['/participant', participant.id, 'edit']"
                class="btn btn-primary btn-sm">
            <fa-icon icon="pencil-alt"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="gestionevenementappApp.participant.inscriptionEvenement.profileNotCompleted">Edit</span>
        </button>
    </div>

    <div class="table-responsive" id="entities" *ngIf="evenements && evenements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gestionevenementappApp.evenement.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDebut"><span jhiTranslate="gestionevenementappApp.evenement.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFin"><span jhiTranslate="gestionevenementappApp.evenement.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gestionevenementappApp.evenement.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="categorieNom"><span jhiTranslate="gestionevenementappApp.evenement.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let evenement of evenements ;trackBy: trackId ; let i = index">
                    <td>{{evenement.id}}</td>
                    <td>{{evenement.code}}</td>
                    <td>{{evenement.dateDebut | date:'medium'}}</td>
                    <td>{{evenement.dateFin | date:'medium'}}</td>
                    <td>{{evenement.description}}</td>
                    <td class="text-right">
                        <label class="form-check-label" for="activated">
                            <input class="form-check-input"
                                   [checked]="evenement.registered"
                                   type="checkbox"
                                   id="activated"
                                   name="activated"
                                   (click)="saveInscriptionEvent(evenement, i, participant.id)"/>
                            <span>{{evenement.registered ? 'Inscris':'Non Inscris' }}</span>
                        </label>
                    </td>
                    <td>
                        <button type="submit" (click)="detailActivities(participant, evenement)" class="btn btn-info btn-sm" [disabled]="evenement && !evenement.registered">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

