<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionevenementappApp.evenement.home.insriptionEvent">Inscription aux événements</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="evenements?.length === 0">
        <span jhiTranslate="gestionevenementappApp.evenement.home.notFound">No evenements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="evenements && evenements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gestionevenementappApp.evenement.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDebut"><span jhiTranslate="gestionevenementappApp.evenement.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFin"><span jhiTranslate="gestionevenementappApp.evenement.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gestionevenementappApp.evenement.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categorieNom"><span jhiTranslate="gestionevenementappApp.evenement.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let evenement of evenements ;trackBy: trackId">
                    <td><a [routerLink]="['/evenement', evenement.id, 'view']">{{ evenement.id }}</a></td>
                    <td>{{ evenement.code }}</td>
                    <td>{{ evenement.dateDebut | date:'medium' }}</td>
                    <td>{{ evenement.dateFin | date:'medium' }}</td>
                    <td>{{ evenement.description }}</td>
                    <td>
                        <div *ngIf="evenement.categorieId">
                            {{ evenement.categorieNom }}
                        </div>
                    </td>
                    <td class="text-right">
                        <!-- <div class="text-right" class="form-check"> -->
                            <label class="form-check-label" for="activated">
                                    <input class="form-check-input"
                                           [checked]="participant.registered"
                                           type="checkbox"
                                           id="activated"
                                           name="activated"
                                           (click)="saveInscription(participant,evenement.id,1)"
                                           formControlName="activated">
                                    <span>{{ participant.registered ? 'Inscris':'Non Inscris' }}</span>
                            </label>
                        <!-- </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

