<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionevenementappApp.inscriptionActivite.home.title">Inscription Activites</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inscription-activite" [routerLink]="['/inscription-activite/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionevenementappApp.inscriptionActivite.home.createLabel">
            Create a new Inscription Activite
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inscriptionActivites?.length === 0">
        <span jhiTranslate="gestionevenementappApp.inscriptionActivite.home.notFound">No inscriptionActivites found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inscriptionActivites && inscriptionActivites.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="role"><span jhiTranslate="gestionevenementappApp.inscriptionActivite.role">Role</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activiteNom"><span jhiTranslate="gestionevenementappApp.inscriptionActivite.activite">Activite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="participantFirstName"><span jhiTranslate="gestionevenementappApp.inscriptionActivite.participant">Participant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let inscriptionActivite of inscriptionActivites ;trackBy: trackId">
                    <td><a [routerLink]="['/inscription-activite', inscriptionActivite.id, 'view']">{{ inscriptionActivite.id }}</a></td>
                    <td>{{ inscriptionActivite.role }}</td>
                    <td>
                        <div *ngIf="inscriptionActivite.activiteId">
                            <a [routerLink]="['/activite', inscriptionActivite.activiteId , 'view']" >{{ inscriptionActivite.activiteNom }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inscriptionActivite.participantId">
                            <a [routerLink]="['/participant', inscriptionActivite.participantId , 'view']" >{{ inscriptionActivite.participantFirstName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inscription-activite', inscriptionActivite.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inscription-activite', inscriptionActivite.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inscriptionActivite)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
